.border-test{border: 1px solid #ccc;}
.border-radius{border-radius: 100%;}
.border-radius-half{border-radius: 50%;}
.border-radius-third{border-radius: 33.33333333333333%;}
.border-radius-quarter{border-radius: 25%;}