@media screen and (max-width: 600px)
{
	li.li,li ul,.dropdown.hover,.dropdown.content{width: 100% !important;float: none;}
}

.btn,a,span{font-size: 0.85em;}
h1,h2,h3,h4,h5,h6{
	font-weight: 400;
	margin: 10px 0;
}
h6{font-size: 12px;}h5{font-size: 15px;}h4{font-size: 16px;}h3{font-size: 17px;}h2{font-size: 18px;}h1{font-size: 19px;}
img{border: 0;}a{color: #000;text-decoration: none;}

ul,li{margin:0;padding: 0;}
ul.ul,li.li li{list-style-type: none;}
li.li{float: left;}
li.li,.dropdown.hover{
	position: relative !important;
	display: inline-block !important;
	margin: 0 auto 5px !important;
	padding: 5px 0!important;
	min-width: 7rem !important;
	background-color: #000;
	cursor: pointer;
}
.dropdown.hover > *{
	padding: 0 0 0 6px !important;
}
li:hover > ul,.dropdown.hover:hover .dropdown.content{
	display: block;
	z-index: 1 !important;
}
li ul,.dropdown.content{
	top: 100% !important;
	position: absolute !important;
	display: none;
	padding: 5px 6px !important;
	min-width: 8.5rem !important;
	background-color: #fff;
}
li li,.dropdown.content *{
	display: block !important;
	min-height: 1.5rem !important;
	padding: 0 0 0 0 !important;
}
li li:hover,.dropdown.content *:hover{
	border-bottom: 1px outset #fff;
	background-color: #ccc;
}
li li:last-child,.dropdown.content *:last-child{border-bottom: none !important;}

footer,.footer,.container:after{height: 4em !important;}

.btn{
	text-align: center;
	font-size: 0.75em;
	display: inline-block;
	margin: 10px 0;
	padding: 2.5px !important;
	min-width: 4em;
	color: #fff;
	background-color: #000;
}
.btn.default{
	text-align: initial;
	font-size: initial;
	display: initial;
	margin: initial;
	padding: initial;
	min-width: initial;
	color: #fff;
	background-color: #000;
}

.btn.normal{font-size: 0.8em;}
.btn.small{font-size: 0.7em;min-width: 5em;}
.btn.medium{font-size: 0.85em;}
.btn.large{font-size: 1em;}
.btn.border{border: 1px outset #ccc;}
.btn.radius{border-radius: 2.5px;}

.clearfix{content: "";clear: both;}
.remove.float{float: none;}
.vdivider{border-right: 1px solid #fff;}
.hdivider{border-bottom: 1px solid #fff;}
.bottom{bottom: 0;}
.top{top: 0;}