.block{display: block;}
.table{display: table;}
.inline{display: inline;}
.inline-block{display: inline-block;}
.absolute{position: absolute;}
.relative{position: relative;}
.fixed{position: fixed;}

.none{display: none;}
.flex{display: flex;}

.sr-li{display: list-item;list-style-type: square;}

.caption{display: table-caption;}
.thead{display: table-header-group;}
.tfoot{display: table-footer-group;}
.colgroup{display: table-column-group;}
.rowgroup{display: table-row-group;}
.td{display: table-cell;}
.tcol{display: table-column;}
.tr{display: table-row;}

.inline-flex{display: inline-flex;}
.inline-table{display: inline-table;}

.left{float: left;}
.right{float: right;}
.center{margin: 0 auto;}

.top{top: 0;}
.down{bottom: 0;}

.col12{
	-web-kit-column-count: 12;
	-moz-column-count: 12;
	column-count: 12;
}

.newspaper.col1{
	-web-kit-column-count: 11;
	-moz-column-count: 11;
	column-count: 11;
}

.newspaper.col10{
	-web-kit-column-count: 10;
	-moz-column-count: 10;
	column-count: 10;
}

.newspaper.col9{
	-web-kit-column-count: 9;
	-moz-column-count: 9;
	column-count: 9;
}

.newspaper.col8{
	-web-kit-column-count: 8;
	-moz-column-count: 8;
	column-count: 8;
}

.newspaper.col7{
	-web-kit-column-count: 7;
	-moz-column-count: 7;
	column-count: 7;
}

.newspaper.col6{
	-web-kit-column-count: 6;
	-moz-column-count: 6;
	column-count: 6;
}

.newspaper.col5{
	-web-kit-column-count: 5;
	-moz-column-count: 5;
	column-count: 5;
}

.newspaper.col4{
	-web-kit-column-count: 4;
	-moz-column-count: 4;
	column-count: 4;
}

.newspaper.col3{
	-web-kit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
}

.newspaper.col2{
	-web-kit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
}

.newspaper.col1{
	-web-kit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
}