.padding1{padding: 1%;}
.padding2{padding: 2%;}
.padding3{padding: 3%;}
.padding4{padding: 4%;}
.padding5{padding: 5%;}
.padding6{padding: 6%;}
.padding7{padding: 7%;}
.padding8{padding: 8%;}
.padding9{padding: 9%;}
.padding10{padding: 10%;}
.padding-tiny{padding: 2px 4px;}
.padding-small{padding: 4px 8px;}
.padding-medium{padding: 8px 16px;}
.padding-large{padding: 16px 32px;}
.padding-xlarge{padding: 32px 64px;}
.padding-xxlarge{padding: 64px 128px;}
.padding-jumbo{padding: 128px 256px;}