.full{width: 100%;}
.half{width: 50%;}
.half.quarter{width: 75%;}
.half.third{width: 83.33333333333333%;}
.third{width: 33.33333333333333%;}
.quarter{width: 25%;}
.tiny{width: 15%;}

.fullHeight{height: 100%;}
.halfHeight{height: 50%;}
.halfHeight.quarter{height: 75%;}
.halfHeight.third{height: 83.33333333333333%;}
.thirdHeight{height: 33.33333333333333%;}
.quarterHeight{height: 25%;}
.tinyHeight{height: 15%;}